@charset "UTF-8";


body {
    background-color: yellow;
    

}
main {
    min-width: 300px;
    max-width: 600px;
    margin: auto;
    background-color:rgba(183, 11, 103, 0.195);
    padding: 20px;
}

h1 {
    
    text-align: center;
    
}

h2 {
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
    background-color: greenyellow;
    margin-inline: 60px;
    margin: auto;
}
main img {
    width: 100%;
    margin: auto;
}
